
#ignore env
.env

# Ignore __pycache__ directories
**__pycache__**

# Ignore .pyc files
*.pyc

# Ignore cache
**.cache**

# Ignore wandb files
**wandb**

# Ignore output files
**output**

# Ignore predictions files
**predictions**

**mrqa**

build/
parallelm.egg-info/